/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
}

.navbar {
  justify-content: space-between;
  background-color: black;
  height: 90%;
}

.navbar img {
  height: 100%;
}

.nav-icons {
  width: 40%;
}

.nav-icon {
  border-left: 1px solid #eaeaea;
  margin: 0 10%;
  height: 100%;
  align-items: center;
}
.navbar i {
  padding: 25% 0 0 30%;
  margin: 0 5%;
}

.fa-bars {
  color: #ff4442;
}

.fa-search {
  color: #bdbdbd;
}

.promo-banner {
  background-color: #fd3;
  width: 100%;
  padding: 5px 10px;
}

/* Main */

main {
  margin-top: 26vh;
  background: green;
}

/* Head Articles */

.head-articles {
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.article-1 {
  background: rgba(0,0,0,.25) url("images/head-news-1.png");
}

.article-2 {
  background-image: url("images/head-news-2.jpg");
}

.article-3 {
  background-image: url("images/head-news-3.jpg");
}

.head-article {
  margin: 0 auto;
  width: 95%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.head-article p {
  color: #a0a4a8;
}

/* Latest News */

.latest-news { }

.latest-news h2 {
  color: #ff4422;
}

.latest-container {
  background-color: yellow;
   grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
   grid-gap: 5px;
}

.news {
  background-color: red;
  justify-content: space-around;
  margin: 1% 2%;
}

.news img {
  height: 75px;
  width: 75px;
  margin: 1%;
}

.news div {
}
.news h3 {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}
.news p {
  margin-top: 8px;
  color: #aaa;
  font-size: 12px;
}
