/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
}

.navbar {
  justify-content: space-between;
  background-color: black;
  height: 90%;
}

.navbar img {
  height: 100%;
}

.nav-icons {
  width: 40%;
}

.nav-icon {
  border-left: 1px solid #eaeaea;
  margin: 0 10%;
  height: 100%;
  align-items: center;
}
.navbar i {
  padding: 25% 0 0 30%;
  margin: 0 5%;
}

.fa-bars {
  color: #ff4442;
}

.fa-search {
  color: #bdbdbd;
}

.promo-banner {
  background-color: #fd3;
  width: 100%;
  padding: 5px 10px;
}

/* Main */

main {
  margin-top: 26vh;
  background: green;
}

.head-articles {
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.article-1 {
  background-image: url("images/latest-news-1.png");
}

.article-2 {
  background-image: url("images/latest-news-2.jpg");
}

.article-3 {
  background-image: url("images/latest-news-3.jpg");
}

.head-article {
  width: 100%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.head-article p {
  color: #a0a4a8;
}
